{
  "plugins": [
    ["transform-runtime", {
      "helpers": false,
      "polyfill": true,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }]
  ],
  "ignore": [
    "./dist",
    "./release",
    "webpack.config.js"
  ]
}